# Byte-compiled / optimized / DLL files
*__pycache__/
*.py[cod]

# db
database.db

# Distribution / packaging
bin/
build/
develop-eggs/
# /node_modules
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
