@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text: #a69388;
  --bg: #e8e1ca;
  --bg-secondary: #e5ceb6;
  --success: #5b7c6b;
  --error: #c2493d;
  --dark: #483b32;
  --light: #f8f1e1;
  --grayscale: #666160;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: var(--text);
  background: linear-gradient(to bottom, transparent, var(--bg)) var(--light);
  letter-spacing: 0.1cap;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.button {
  @apply shadow-harsh-tight active:shadow-inner active:translate-y-1 active:translate-x-1 transition-transform;
}

input,
select,
button {
  @apply focus:outline-none focus-visible:ring-4 focus-visible:ring-success;
}

input[name^="category"]::-webkit-calendar-picker-indicator {
  opacity: 100;
  margin-bottom: 7px;
  cursor: pointer;
}

input[type="datetime-local"],
input[type="date"] {
  appearance: none;
  min-height: 42px;
}

.adjust-icon {
  filter: url("#pixelate");
}
